<div class="face idle" id="face">
    <!-- Ojo izquierdo (coordenadas normalizadas a 0,0) -->
    <svg class="eye eye-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.5167 107.762" width="99.5167px" height="107.762px">
        <defs>
            <linearGradient gradientUnits="userSpaceOnUse" x1="60.0804" y1="16.9702" x2="60.0804" y2="86.9742" id="gradient-left">
                <stop offset="0" style="stop-color: rgb(115, 224, 202)"/>
                <stop offset="1" style="stop-color: rgb(32, 95, 120);"/>
            </linearGradient>
        </defs>
        <g>
            <path d="M 99.4044 60.9612 C 97.3654 96.1972 99.9334 95.9602 56.8394 105.9012 C 13.7454 115.8422 -6.3046 84.4252 1.7444 47.9972 C 9.7934 11.5692 27.9594 1.1052 51.6544 0.0312 C 75.3494 -1.0428 101.4434 25.7252 99.4044 60.9612 Z" style="stroke: rgb(0, 0, 0); stroke-width: 0px; fill: rgb(255, 255, 255);"/>
            <ellipse style="stroke: rgb(0, 0, 0); fill: url(#gradient-left); stroke-width: 0px;" cx="60.0804" cy="51.9722" rx="30.249" ry="35.002"/>
            <ellipse style="stroke: rgb(0, 0, 0); stroke-width: 1;" cx="60.3634" cy="51.5232" rx="18.149" ry="22.47"/>
            <ellipse style="stroke: rgb(0, 0, 0); fill: rgb(255, 255, 255); stroke-width: 0px; stroke-linecap: round;" cx="71.7324" cy="36.1072" rx="7.565" ry="8.847"/>
        </g>
    </svg>

    <!-- Ojo derecho (espejo del izquierdo mediante transform) -->
    <svg class="eye eye-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.5167 107.762" width="99.5167px" height="107.762px">
        <defs>
            <linearGradient gradientUnits="userSpaceOnUse" x1="60.0804" y1="16.9702" x2="60.0804" y2="86.9742" id="gradient-right">
                <stop offset="0" style="stop-color: rgb(115, 224, 202)"/>
                <stop offset="1" style="stop-color: rgb(32, 95, 120);"/>
            </linearGradient>
        </defs>
        <g transform="translate(99.5167, 0) scale(-1, 1)">
            <path d="M 99.4044 60.9612 C 97.3654 96.1972 99.9334 95.9602 56.8394 105.9012 C 13.7454 115.8422 -6.3046 84.4252 1.7444 47.9972 C 9.7934 11.5692 27.9594 1.1052 51.6544 0.0312 C 75.3494 -1.0428 101.4434 25.7252 99.4044 60.9612 Z" style="stroke: rgb(0, 0, 0); stroke-width: 0px; fill: rgb(255, 255, 255);"/>
            <ellipse style="stroke: rgb(0, 0, 0); fill: url(#gradient-right); stroke-width: 0px;" cx="60.0804" cy="51.9722" rx="30.249" ry="35.002"/>
            <ellipse style="stroke: rgb(0, 0, 0); stroke-width: 1;" cx="60.3634" cy="51.5232" rx="18.149" ry="22.47"/>
            <ellipse style="stroke: rgb(0, 0, 0); fill: rgb(255, 255, 255); stroke-width: 0px; stroke-linecap: round;" cx="71.7324" cy="36.1072" rx="7.565" ry="8.847"/>
        </g>
    </svg>
</div>