GROQ_API_KEY=tu_api_key_de_groq
GEMINI_API_KEY=xxxx
ADMIN_PASSWORD=tu_contraseña_admin
FLASK_SECRET_KEY=una_clave_secreta_aleatoria


kaitosan konnit-shi-wa
source venv/bin/activate
python3 -m venv --system-site-packages /home/kaitosan/robot/venv